<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Gistory by {{ gist.user.login }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ gist.description }}</h1>
          <h2>{{ gist.user.login }}</h2>
        </header>
        <section id="main_content">
            {% for version in gist.history %}
            <section>
                <hr>
                {% for filename in version.gist.files %}
                <h4>{{ filename }} <small>({{ version.version }})</small> </h4>
                <pre><code>{{ version.gist.files[filename].content }}</code></pre>
                {% endfor %}
            </section>
            {% endfor %}

        </section>

        <footer>
          Gistory is maintained by <a href="https://github.com/kadirpekel">kadirpekel</a><br>
          Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

      </div>
    </div>
  </body>
</html>